
.tictactoe .cell {
    background-color: #DDD;
}
.tictactoe .board {
    width:auto;
}
.tictactoe .board a {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    line-height:30px;
    font-size:30px;
    background-color:#FFF;

    width: 10vh;
    height: 10vh;

    @media #{$breakpoint-md} {
        width: 15vh;
        height: 15vh;    }

    &:hover {
        transform: scale(1.3);
        box-shadow: 0 22px 40px 0px rgba(10, 31, 68, 0.12);
        opacity: 1;
        z-index: 2;
    }
}

.btn-start {
    border: 1px solid red;
    font-size:14px;
    padding:10px 20px;
    border-radius:6px;
}
.btn-start.solo {border: 1px solid green;}
.btn-start.ai {border: 1px solid blue;}

#colophon {display:none;}