$sm-width: 40em;
$md-width: 52em;
$lg-width: 64em;
$xlg-width: 78em;

$breakpoint-sm: (min-width: $sm-width) !default;
$breakpoint-md: (min-width: $md-width) !default;
$breakpoint-lg: (min-width: $lg-width) !default;
$breakpoint-xlg: (min-width: $xlg-width) !default;

$space1: 0.5rem !default;
$space2: 1.5rem !default;
$space3: 3rem !default;
$space4: 4rem !default;

$primary_color: #213781;
$secondary_color: #7EC8E3;
$secondary_light_color: #F4FCFF;


$primary-color: #37b047;
$primary-dark-color: #268933;
$primary-light-color: #EAECEF;


$text-color: #EAECEF;
$link-color: #F6F7F8;