$sm-width: 40em;
$md-width: 52em;
$lg-width: 64em;
$xlg-width: 78em;

$breakpoint-sm: (min-width: $sm-width) !default;
$breakpoint-md: (min-width: $md-width) !default;
$breakpoint-lg: (min-width: $lg-width) !default;
$breakpoint-xlg: (min-width: $xlg-width) !default;

$space1: 0.5rem !default;
$space2: 1.5rem !default;
$space3: 3rem !default;
$space4: 4rem !default;

$primary_color: #213781;
$secondary_color: #7EC8E3;
$secondary_light_color: #F4FCFF;


$primary-color: #37b047;
$primary-dark-color: #268933;
$primary-light-color: #EAECEF;


$text-color: #EAECEF;
$link-color: #F6F7F8;



page-connect4 {
    
    section { padding:20px; }
    
    .tictactoe .board {
      width:auto;
      
    }
    .tictactoe .board a {
      display: inline-flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    
      line-height:30px;
      font-size:30px;
    
      width: 8vh;
      height: 8vh;
    
      @media #{$breakpoint-md} {
          width: 5vh;
          height: 5vh;    }
    
      &:hover {
          transform: scale(1.3);
          box-shadow: 0 22px 40px 0px rgba(10, 31, 68, 0.12);
          opacity: 1;
          z-index: 2;
      }
    }
    
    .tictactoe .board {
      td {border:1px solid black;}
      td.cell-0 { a {color:#FFF;} }
      td.cell-1 {background-color:purple; a {color:purple;}}
      td.cell-2 {background-color:orange; a {color:orange;}}
    }
    
    .btn-start {
      border: 1px solid red;
      font-size:14px;
      padding:10px 20px;
      border-radius:6px;
    }
    .btn-start.solo {border: 1px solid green;}
    .btn-start.ai {border: 1px solid blue;}
    
    #colophon {display:none;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .about-header {
      background-color: var(--ion-color-dark);
      padding: 16px;
      width: 100%;
      max-height:85px;
      overflow:hidden;
      text-align: center;
    }
    
    .about-header img {
      max-width: 200px;
      padding: 25px 5px 20px 0;
    }
    
    .about-info p {
      color: var(--ion-color-medium);
      text-align: left;
    }
    
    .about-info ion-icon {
      color: var(--ion-color-primary);
    }
    
    .ios .about-info {
      text-align: center;
    }
    
    
}
